name: Validate

on:
  workflow_dispatch:
  push:
    paths:
      - 'custom_components/tibber_graph/**'
  pull_request:
    paths:
      - 'custom_components/tibber_graph/**'

jobs:
  validate-hacs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: HACS validation
        uses: hacs/action@main
        with:
          category: integration
